[submodule "LifeMateServer"]
	path = LifeMateServer
	url = https://github.com/xhnya/LifeMateServer.git
[submodule "life_mate_flutter"]
	path = life_mate_flutter
	url = https://github.com/xhnya/life_mate_flutter.git
[submodule "LifeMateMonolith"]
	path = LifeMateMonolith
	url = https://github.com/xhnya/LifeMateMonolith.git
